<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.CommodityLabelRelMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.CommodityLabelRelEntity" >
	<result column="cmmdty_id" property="cmmdtyId" jdbcType="DECIMAL" />
	<result column="label_id" property="labelId" jdbcType="DECIMAL" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- commodity_label_rel table all fields -->
<sql id="Base_Column_List" >
	 cmmdty_id, label_id, create_time, update_time
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="cmmdtyId != null" >
	    and cmmdty_id = #{cmmdtyId, jdbcType=DECIMAL}
	</if>
	<if test="labelId != null" >
	    and label_id = #{labelId, jdbcType=DECIMAL}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.CommodityLabelRelEntity" >
  	insert into commodity_label_rel(
		cmmdty_id,
		label_id,
		create_time,
		update_time
	) values (
		#{cmmdtyId, jdbcType=DECIMAL},
		#{labelId, jdbcType=DECIMAL},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.CommodityLabelRelEntity" >
	update commodity_label_rel set 
	<trim  suffixOverrides="," >
		<if test="labelId != null  ">
			label_id = #{labelId, jdbcType=DECIMAL},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
	</trim> 
	where cmmdty_id = #{cmmdtyId, jdbcType=DECIMAL}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.CommodityLabelRelEntity">
	delete from commodity_label_rel where cmmdty_id = #{cmmdtyId}
</update>

<!-- 根据标签id删除所有关联关系 -->
<update id="deleteByLabelId" parameterType="org.zyd.store.entity.CommodityLabelRelEntity">
	delete from commodity_label_rel where label_id = #{labelId}
</update>

<!-- 根据标签id删除商品标签 -->
<update id="deleteByCmmdtyIdAndLabelId" parameterType="org.zyd.store.entity.CommodityLabelRelEntity">
	delete from commodity_label_rel where cmmdty_id = #{cmmdtyId} and label_id = #{labelId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.CommodityLabelRelTerm">
	select 
    <include refid="Base_Column_List"/>
    from commodity_label_rel 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
