<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.CommodityMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.CommodityEntity" >
	<id column="cmmdty_id" property="cmmdtyId" jdbcType="DECIMAL" />
	<result column="category" property="category" jdbcType="VARCHAR" />
	<result column="introducer" property="introducer" jdbcType="VARCHAR" />
	<result column="auditor" property="auditor" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- commodity table all fields -->
<sql id="Base_Column_List" >
	 cmmdty_id, category, introducer, auditor, create_time, update_time
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="cmmdtyId != null" >
	    and cmmdty_id = #{cmmdtyId, jdbcType=DECIMAL}
	</if>
	<if test="category != null and category != ''" >
	    and category = #{category, jdbcType=VARCHAR}
	</if>
	<if test="introducer != null and introducer != ''" >
	    and introducer = #{introducer, jdbcType=VARCHAR}
	</if>
	<if test="auditor != null and auditor != ''" >
	    and auditor = #{auditor, jdbcType=VARCHAR}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.CommodityEntity" useGeneratedKeys="true" keyProperty="cmmdtyId">
  	insert into commodity(
		category,
		introducer,
		auditor,
		create_time,
		update_time
	) values (
		#{category, jdbcType=VARCHAR},
		#{introducer, jdbcType=VARCHAR},
		#{auditor, jdbcType=VARCHAR},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.CommodityEntity" >
	update commodity set 
	<trim  suffixOverrides="," >
		<if test="category != null  and category != '' ">
			category = #{category, jdbcType=VARCHAR},
		</if>
		<if test="introducer != null  and introducer != '' ">
			introducer = #{introducer, jdbcType=VARCHAR},
		</if>
		<if test="auditor != null  and auditor != '' ">
			auditor = #{auditor, jdbcType=VARCHAR},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
	</trim> 
	where cmmdty_id = #{cmmdtyId, jdbcType=DECIMAL}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.CommodityEntity">
	delete from commodity where cmmdty_id = #{cmmdtyId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.CommodityTerm">
	select 
    <include refid="Base_Column_List"/>
    from commodity 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
