<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.LevelConfigMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.LevelConfigEntity" >
	<result column="level" property="level" jdbcType="VARCHAR" />
	<result column="level_before" property="levelBefore" jdbcType="VARCHAR" />
	<result column="level_after" property="levelAfter" jdbcType="VARCHAR" />
</resultMap>
       
<!-- level_config table all fields -->
<sql id="Base_Column_List" >
	 level, level_before, level_after
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="level != null and level != ''" >
	    and level = #{level, jdbcType=VARCHAR}
	</if>
	<if test="levelBefore != null and levelBefore != ''" >
	    and level_before = #{levelBefore, jdbcType=VARCHAR}
	</if>
	<if test="levelAfter != null and levelAfter != ''" >
	    and level_after = #{levelAfter, jdbcType=VARCHAR}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.LevelConfigEntity" >
  	insert into level_config(
		level,
		level_before,
		level_after
	) values (
		#{level, jdbcType=VARCHAR},
		#{levelBefore, jdbcType=VARCHAR},
		#{levelAfter, jdbcType=VARCHAR}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.LevelConfigEntity" >
	update level_config set 
	<trim  suffixOverrides="," >
		<if test="levelBefore != null  and levelBefore != '' ">
			level_before = #{levelBefore, jdbcType=VARCHAR},
		</if>
		<if test="levelAfter != null  and levelAfter != '' ">
			level_after = #{levelAfter, jdbcType=VARCHAR},
		</if>
	</trim> 
	where level = #{level, jdbcType=VARCHAR}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.LevelConfigEntity">
	delete from level_config where level = #{level}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.LevelConfigTerm">
	select 
    <include refid="Base_Column_List"/>
    from level_config 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
