<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.PartyLevelMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.PartyLevelEntity" >
	<result column="party_id" property="partyId" jdbcType="DECIMAL" />
	<result column="level" property="level" jdbcType="VARCHAR" />
	<result column="level_chg_type" property="levelChgType" jdbcType="VARCHAR" />
	<result column="level_chg_ts" property="levelChgTs" jdbcType="TIMESTAMP" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- party_level table all fields -->
<sql id="Base_Column_List" >
	 party_id, level, level_chg_type, level_chg_ts, create_time, update_time
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="partyId != null" >
	    and party_id = #{partyId, jdbcType=DECIMAL}
	</if>
	<if test="level != null and level != ''" >
	    and level = #{level, jdbcType=VARCHAR}
	</if>
	<if test="levelChgType != null and levelChgType != ''" >
	    and level_chg_type = #{levelChgType, jdbcType=VARCHAR}
	</if>
	<if test="levelChgTs != null" >
	    and level_chg_ts = #{levelChgTs, jdbcType=TIMESTAMP}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.PartyLevelEntity" >
  	insert into party_level(
		party_id,
		level,
		level_chg_type,
		level_chg_ts,
		create_time,
		update_time
	) values (
		#{partyId, jdbcType=DECIMAL},
		#{level, jdbcType=VARCHAR},
		#{levelChgType, jdbcType=VARCHAR},
		#{levelChgTs, jdbcType=TIMESTAMP},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.PartyLevelEntity" >
	update party_level set 
	<trim  suffixOverrides="," >
		<if test="level != null  and level != '' ">
			level = #{level, jdbcType=VARCHAR},
		</if>
		<if test="levelChgType != null  and levelChgType != '' ">
			level_chg_type = #{levelChgType, jdbcType=VARCHAR},
		</if>
		<if test="levelChgTs != null  ">
			level_chg_ts = #{levelChgTs, jdbcType=TIMESTAMP},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
	</trim> 
	where party_id = #{partyId, jdbcType=DECIMAL}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.PartyLevelEntity">
	delete from party_level where party_id = #{partyId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.PartyLevelTerm">
	select 
    <include refid="Base_Column_List"/>
    from party_level 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
