<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.PartyPasswordMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.PartyPasswordEntity" >
	<id column="pwd_id" property="pwdId" jdbcType="DECIMAL" />
	<result column="pwd_type" property="pwdType" jdbcType="VARCHAR" />
	<result column="pwd_val" property="pwdVal" jdbcType="VARCHAR" />
	<result column="pwd_salt" property="pwdSalt" jdbcType="INTEGER" />
	<result column="pwd_strongth" property="pwdStrongth" jdbcType="VARCHAR" />
	<result column="first_wrong_check_time" property="firstWrongCheckTime" jdbcType="TIMESTAMP" />
	<result column="wrong_check_times" property="wrongCheckTimes" jdbcType="INTEGER" />
	<result column="pwd_status" property="pwdStatus" jdbcType="VARCHAR" />
	<result column="party_id" property="partyId" jdbcType="DECIMAL" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- party_password table all fields -->
<sql id="Base_Column_List" >
	 pwd_id, pwd_type, pwd_val, pwd_salt, pwd_strongth, first_wrong_check_time, wrong_check_times, pwd_status, party_id, create_time, update_time
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="pwdId != null" >
	    and pwd_id = #{pwdId, jdbcType=DECIMAL}
	</if>
	<if test="pwdType != null and pwdType != ''" >
	    and pwd_type = #{pwdType, jdbcType=VARCHAR}
	</if>
	<if test="pwdVal != null and pwdVal != ''" >
	    and pwd_val = #{pwdVal, jdbcType=VARCHAR}
	</if>
	<if test="pwdSalt != null" >
	    and pwd_salt = #{pwdSalt, jdbcType=INTEGER}
	</if>
	<if test="pwdStrongth != null and pwdStrongth != ''" >
	    and pwd_strongth = #{pwdStrongth, jdbcType=VARCHAR}
	</if>
	<if test="firstWrongCheckTime != null" >
	    and first_wrong_check_time = #{firstWrongCheckTime, jdbcType=TIMESTAMP}
	</if>
	<if test="wrongCheckTimes != null" >
	    and wrong_check_times = #{wrongCheckTimes, jdbcType=INTEGER}
	</if>
	<if test="pwdStatus != null and pwdStatus != ''" >
	    and pwd_status = #{pwdStatus, jdbcType=VARCHAR}
	</if>
	<if test="partyId != null" >
	    and party_id = #{partyId, jdbcType=DECIMAL}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.PartyPasswordEntity" useGeneratedKeys="true" keyProperty="pwdId">
  	insert into party_password(
		pwd_type,
		pwd_val,
		pwd_salt,
		pwd_strongth,
		first_wrong_check_time,
		wrong_check_times,
		pwd_status,
		party_id,
		create_time,
		update_time
	) values (
		#{pwdType, jdbcType=VARCHAR},
		#{pwdVal, jdbcType=VARCHAR},
		#{pwdSalt, jdbcType=INTEGER},
		#{pwdStrongth, jdbcType=VARCHAR},
		#{firstWrongCheckTime, jdbcType=TIMESTAMP},
		#{wrongCheckTimes, jdbcType=INTEGER},
		#{pwdStatus, jdbcType=VARCHAR},
		#{partyId, jdbcType=DECIMAL},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.PartyPasswordEntity" >
	update party_password set 
	<trim  suffixOverrides="," >
		<if test="pwdType != null  and pwdType != '' ">
			pwd_type = #{pwdType, jdbcType=VARCHAR},
		</if>
		<if test="pwdVal != null  and pwdVal != '' ">
			pwd_val = #{pwdVal, jdbcType=VARCHAR},
		</if>
		<if test="pwdSalt != null  ">
			pwd_salt = #{pwdSalt, jdbcType=INTEGER},
		</if>
		<if test="pwdStrongth != null  and pwdStrongth != '' ">
			pwd_strongth = #{pwdStrongth, jdbcType=VARCHAR},
		</if>
		<if test="firstWrongCheckTime != null  ">
			first_wrong_check_time = #{firstWrongCheckTime, jdbcType=TIMESTAMP},
		</if>
		<if test="wrongCheckTimes != null  ">
			wrong_check_times = #{wrongCheckTimes, jdbcType=INTEGER},
		</if>
		<if test="pwdStatus != null  and pwdStatus != '' ">
			pwd_status = #{pwdStatus, jdbcType=VARCHAR},
		</if>
		<if test="partyId != null  ">
			party_id = #{partyId, jdbcType=DECIMAL},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
	</trim> 
	where pwd_id = #{pwdId, jdbcType=DECIMAL}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.PartyPasswordEntity">
	delete from party_password where pwd_id = #{pwdId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.PartyPasswordTerm">
	select 
    <include refid="Base_Column_List"/>
    from party_password 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
