<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.ReturnOrderMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.ReturnOrderEntity" >
	<id column="return_order_id" property="returnOrderId" jdbcType="DECIMAL" />
	<result column="return_order_num" property="returnOrderNum" jdbcType="VARCHAR" />
	<result column="return_order_type" property="returnOrderType" jdbcType="VARCHAR" />
	<result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
	<result column="return_order_status" property="returnOrderStatus" jdbcType="VARCHAR" />
	<result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
	<result column="return_reason_desc" property="returnReasonDesc" jdbcType="VARCHAR" />
	<result column="should_refund_amt" property="shouldRefundAmt" jdbcType="DECIMAL" />
	<result column="actual_refund_amt" property="actualRefundAmt" jdbcType="DECIMAL" />
	<result column="remarks" property="remarks" jdbcType="VARCHAR" />
	<result column="order_id" property="orderId" jdbcType="DECIMAL" />
	<result column="party_id" property="partyId" jdbcType="DECIMAL" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
</resultMap>
       
<!-- return_order table all fields -->
<sql id="Base_Column_List" >
	 return_order_id, return_order_num, return_order_type, submit_time, return_order_status, return_reason, return_reason_desc, should_refund_amt, actual_refund_amt, remarks, order_id, party_id, create_time, update_time
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="returnOrderId != null" >
	    and return_order_id = #{returnOrderId, jdbcType=DECIMAL}
	</if>
	<if test="returnOrderNum != null and returnOrderNum != ''" >
	    and return_order_num = #{returnOrderNum, jdbcType=VARCHAR}
	</if>
	<if test="returnOrderType != null and returnOrderType != ''" >
	    and return_order_type = #{returnOrderType, jdbcType=VARCHAR}
	</if>
	<if test="submitTime != null" >
	    and submit_time = #{submitTime, jdbcType=TIMESTAMP}
	</if>
	<if test="returnOrderStatus != null and returnOrderStatus != ''" >
	    and return_order_status = #{returnOrderStatus, jdbcType=VARCHAR}
	</if>
	<if test="returnReason != null and returnReason != ''" >
	    and return_reason = #{returnReason, jdbcType=VARCHAR}
	</if>
	<if test="returnReasonDesc != null and returnReasonDesc != ''" >
	    and return_reason_desc = #{returnReasonDesc, jdbcType=VARCHAR}
	</if>
	<if test="shouldRefundAmt != null" >
	    and should_refund_amt = #{shouldRefundAmt, jdbcType=DECIMAL}
	</if>
	<if test="actualRefundAmt != null" >
	    and actual_refund_amt = #{actualRefundAmt, jdbcType=DECIMAL}
	</if>
	<if test="remarks != null and remarks != ''" >
	    and remarks = #{remarks, jdbcType=VARCHAR}
	</if>
	<if test="orderId != null" >
	    and order_id = #{orderId, jdbcType=DECIMAL}
	</if>
	<if test="partyId != null" >
	    and party_id = #{partyId, jdbcType=DECIMAL}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.ReturnOrderEntity" useGeneratedKeys="true" keyProperty="returnOrderId">
  	insert into return_order(
		return_order_num,
		return_order_type,
		submit_time,
		return_order_status,
		return_reason,
		return_reason_desc,
		should_refund_amt,
		actual_refund_amt,
		remarks,
		order_id,
		party_id,
		create_time,
		update_time
	) values (
		#{returnOrderNum, jdbcType=VARCHAR},
		#{returnOrderType, jdbcType=VARCHAR},
		#{submitTime, jdbcType=TIMESTAMP},
		#{returnOrderStatus, jdbcType=VARCHAR},
		#{returnReason, jdbcType=VARCHAR},
		#{returnReasonDesc, jdbcType=VARCHAR},
		#{shouldRefundAmt, jdbcType=DECIMAL},
		#{actualRefundAmt, jdbcType=DECIMAL},
		#{remarks, jdbcType=VARCHAR},
		#{orderId, jdbcType=DECIMAL},
		#{partyId, jdbcType=DECIMAL},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.ReturnOrderEntity" >
	update return_order set 
	<trim  suffixOverrides="," >
		<if test="returnOrderNum != null  and returnOrderNum != '' ">
			return_order_num = #{returnOrderNum, jdbcType=VARCHAR},
		</if>
		<if test="returnOrderType != null  and returnOrderType != '' ">
			return_order_type = #{returnOrderType, jdbcType=VARCHAR},
		</if>
		<if test="submitTime != null  ">
			submit_time = #{submitTime, jdbcType=TIMESTAMP},
		</if>
		<if test="returnOrderStatus != null  and returnOrderStatus != '' ">
			return_order_status = #{returnOrderStatus, jdbcType=VARCHAR},
		</if>
		<if test="returnReason != null  and returnReason != '' ">
			return_reason = #{returnReason, jdbcType=VARCHAR},
		</if>
		<if test="returnReasonDesc != null  and returnReasonDesc != '' ">
			return_reason_desc = #{returnReasonDesc, jdbcType=VARCHAR},
		</if>
		<if test="shouldRefundAmt != null  ">
			should_refund_amt = #{shouldRefundAmt, jdbcType=DECIMAL},
		</if>
		<if test="actualRefundAmt != null  ">
			actual_refund_amt = #{actualRefundAmt, jdbcType=DECIMAL},
		</if>
		<if test="remarks != null  and remarks != '' ">
			remarks = #{remarks, jdbcType=VARCHAR},
		</if>
		<if test="orderId != null  ">
			order_id = #{orderId, jdbcType=DECIMAL},
		</if>
		<if test="partyId != null  ">
			party_id = #{partyId, jdbcType=DECIMAL},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
	</trim> 
	where return_order_id = #{returnOrderId, jdbcType=DECIMAL}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.ReturnOrderEntity">
	delete from return_order where return_order_id = #{returnOrderId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.ReturnOrderTerm">
	select 
    <include refid="Base_Column_List"/>
    from return_order 
    <include refid="Where_Clause"/>
</select>
  	
</mapper>   
